# Sniperkit-Bot
# - Status: analyzed

test/
# activity/zeromq

vendor
vendor/
vendor/*
vendor/**

binary
binary/
binary/*
binary/**

dist
dist/
dist/*
dist/**

*-darwin-*
*_darwin_*

command/repack/*/dist
command/repack/*/bin